
.screen2-bg {
 background-image: url("../images/Screen1bg.png");   
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px; /* Figma Logo Margin */
  font-family: "Jost", sans-serif;

}

/* CENTER CARD */
.card {
   width: 520px;
  padding: 40px 20px;
  background: rgba(255, 255, 255, 0.45);  /* Figma color */
  backdrop-filter: blur(8px);
  border-radius: 20px;
  margin-top: 40px;   
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

/* TEXTS */
.title {
  font-size: 26px;
  color: #b38b37;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  color: #444;
  margin-bottom: 10px;
}

.otp-text {
  font-size: 16px;
  margin-bottom: 20px;
  color: #333;
}

/* OTP BOX */
.otpBox {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 20px 0;
}

.otpBox input {
  width: 48px;
  height: 50px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-align: center;
  outline: none;
}

/* BUTTON */
.btn2 {
  width: 380px;
  height: 56px;
  background: #D5B85A;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.screen2-logo {
  width: 180px;
  margin-top: 80px; 
  margin-bottom: 40px; 
}


.timer-text {
  margin-top: 15px;
caret-color: #555;
}