.screen2 {
  height: 100vh;
  background-image: url("../images/Screen1bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.logo2 {
  width: 120px;
  margin-bottom: 20px;
}

.card2 {
  width: 80%;
  max-width: 480px;
  height: 500px;
  background: #FFFFFF73;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 20px;
  
}
p{
  font-size: 20px;
  font-style: regular;
  font-weight: 400;
  margin-top: 21px;
}
h2{
  font-weight: 500;
  font-size: 32px;
  font-style: medium;
  color: #D5B85A;
}

.otp-text {
  margin: 10px 0;
  color: #555;
}

.otp-box {
  display: flex;
  justify-content: space-between;
  margin: 18px 0;
}

.otp-input {
  width: 45px;
  height: 56px;
  border: 1px solid #aaa;
  border-radius: 3px;
  font-size: 18px;
  text-align: center;
  margin-top: 80px;
}

.btn2 {
  width: 100%;
  margin-top: 24px;
  height: 56px;
  padding: 12px;
  background: #c7a24f;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.timer {
  margin-top: 15px;
  color: #666;
}