
.screen2-bg {
  background-image: url("C:\Users\Vipin Agrawal\sheetal_ui\public\bg.png");   
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* CENTER CARD */
.card {
  width: 90%;
  max-width: 520px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(6px);
  padding: 35px 25px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

/* TEXTS */
.title {
  font-size: 26px;
  color: #b38b37;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  color: #444;
  margin-bottom: 10px;
}

.otp-text {
  font-size: 16px;
  margin-bottom: 20px;
  color: #333;
}

/* OTP BOX */
.otpBox {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 20px 0;
}

.otpBox input {
  width: 48px;
  height: 50px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-align: center;
  outline: none;
}

/* BUTTON */
.continue-btn {
  background: #c7a24f;
  color: white;
  border: none;
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}

.timer-text {
  margin-top: 15px;
caret-color: #555;
}