.screen2 {
  height: 100vh;
  background-image: url("C:\Users\Vipin Agrawal\sheetal_ui\public\bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.logo2 {
  width: 120px;
  margin-bottom: 20px;
}

.card2 {
  width: 80%;
  max-width: 430px;
  background: white;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 20px;
}

.otp-text {
  margin: 10px 0;
  color: #555;
}

.otp-box {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.otp-input {
  width: 45px;
  height: 45px;
  border: 1px solid #aaa;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
}

.btn2 {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #c7a24f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.timer {
  margin-top: 15px;
  color: #666;
}